@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat';
}
html{
    font-size: 62.5%;
}
header{
    height: 100vh;
    background-size: cover;
    padding-top: 5rem;
    padding-left: 9.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    overflow: hidden;
    position: relative;
}

header::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image:url("../image/hero.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    animation: zoom 10s;
}

@keyframes zoom{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

:root{
    --text-primary:#FFF;
    --font-heading:'Poppins';
    --font-default:'Monrserat';
}

h1{
    font-size: 6rem;
    font-weight: 900;
    color: var(--text-primary);
    font-family: var(--font-default);
    padding-left: 2rem;


}
h2{
    font-size: 1.9rem;
    font-weight: bold;
    color: #FFF;
}

a{text-decoration: none;
color: #A54119;
font-size: 200rem;}

span{
    font-family:'Montserrat';
    font-size: 4rem;
    color: #fff;
}

.ball{
    width: 4vw;
    float: left;
}

.text_hero{
    width: 26.5vw;
    height: 25vh;
    margin-left: 2rem;
}
.times2{
    margin-left: 2rem;
    font-size: 2rem;
}
a{
    font-size: 4rem;
}
#botao_inicial{
    width: 28vw;

}
.button{
    font-size: 2rem;
    float: left;
    padding-top:1.5rem;
}
.button:hover{
    
}

.space{
    margin-top: 2rem;
}

#historia{
    height: 100vh;
    background-size: cover;
    background-image:url("../image/hero_inverso.jpg");
}
.blur{
    background-color: rgba(0, 0, 0, 0.272);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
}
.next1{
    margin-top: 3rem;
    margin-left: 4rem;
    height: 8vh;
    border-style:solid;
    border-color: #A54119;
    border-radius: 10%;
}
.next1:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 20px #FFF;
    background-color: #FFF;
    transition: 1s;
}

.history_title{
    float:right;
    margin-right: 2rem;
}

.history_left{
    margin-right: 2rem;
    float: right;
    padding-left: 70rem;
    padding-top: 2rem;
    font-size:2.1rem;

}

.history_right{
    float: left;
    padding-left: 2rem;
    padding-right: 70rem;
    font-size:2.1rem;
}


/*classes da tela times*/
#times{
    height: 100vh;
    background-size: cover;
    padding-top: 5rem;
    padding-left: 9.2rem;
    background-color: black;
}

#equipe{
    font-size: 5rem ;
}

#imagem_logos{
    height: 75vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
}

#imagem_logos div{
    width: 18vw;
    height: 35vh;
    margin-left: 1.4rem;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}   

/*times*/

.miami{
background-image: url('../image/miami.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.container:hover .card{
    transform: rotateY(180deg);
}
.camisa_miami{
    background-image: url('../image/camisa_heat.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.camisa_warriors{
    background-image: url('../image/camisa_warriors.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.camisa_nets{
    background-image: url('../image/camisa_nets.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.camisa_denver{
    background-image: url('../image/camisa_denver.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.camisa_lakers{
    background-image: url('../image/camisa_lakers.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.camisa_bucks{
    background-image: url('../image/camisa_bucks.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.camisa_knicks{
    background-image: url('../image/camisa_knicks.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.camisa_philadelphia{
    background-image: url('../image/camisa_philadelphia.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}
.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.warriors{
    background-image: url('../image/warriors.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.denver{
    background-image: url('../image/denver.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.nets{
    background-image: url('../image/nets.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.lakers{
    background-image: url('../image/lakers.png');
    background-size: 27rem;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.bucks{
    background-image: url('../image/bucks.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.knicks{
    background-image: url('../image/knicks.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.philadelphia{
    background-image: url('../image/76ers.png');
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}
.next{
    padding-left: 80rem;
    height: 8vh;
}
.next *{
    color: #FFF;
}

/*css para card de escduo-camisa*/
